.welcomePage{   
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top, #f52e48, #f73747, #f93f46, #fa4645, #fc4d44);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
   
}
.welcomePage h1{
    font-size:44.8px;
   
}
.welcomePage p, h1, .btn,svg{
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
.welcomePage .btn{
    width: 7.5rem;
    height: 2.5rem;
    border-radius: 0.9375rem;
    margin-top: 1.25rem;
    color: #F73A46;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border: 0.125rem solid #F73A46;
    font-size: 0.875rem;
   
}
.welcomePage .btn:hover{
    background-color: #F73A46;
    border: 0.125rem solid white;
    color: white;
}
.welcomePage .btn:target{
    background-color: #F73A46;
    color: white;
}
.welcomePage svg{
    font-size: 56px;
   
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}